
.contact {
    background-image: url("/src/images/img-11.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    height: 90vh;
  }

  h2{
    color: white;
    font-weight: 700;
    text-align: center;
    font-size: 80px;
    padding-top: 50px;
    padding-bottom: 30px;
  }

.contact__container{
    grid-template-columns: 5fr 7fr;
}

.container{
    max-width: 1300px;
    padding-inline: 12px !important;
    margin-inline: auto;
  }

.contact__form-group{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}

.contact__form-div{
    display: grid;
    row-gap: 10px;
    margin-bottom: 30px;
}

.contact__form-tag{
    margin-left: 30px;
    font-size: 15px;
    font-weight: 700;
}

.contact__form-tag b{
    color: white;
}

.contact__form-input{
    color: black;
    height: 60px;
    border-radius: 30px;
    padding-inline: 30px;
}

.contact__form-area .contact__form-input{
    height: 140px;
    padding-block: 20px;
    resize: none;
}

.contact__submit{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 15px;
    padding-top: 30px;
}

.btnn{
    border: 2px solid var(--border-color);
    padding-inline: 40px;
    border-radius: 56px;
    box-shadow: var(--shadow);
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
  }
  